.App {
    display: flex;
    flex-direction: row;
background-color: rgba(189, 255, 102, 0.747);

}.cards{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    background-color: rgb(113, 198, 247);
    border-radius: 20%;
    margin:10%;
    width: 80%;
}
.title{
    justify-content: center;
}
.picture{
    border-radius: 20%;
    margin-top: 24px;
}

.name{
    margin: 0;
}

.status{ 
    margin: 0;
}


